.the_first:link { /* Essentially means a[href], or that the link actually goes somewhere */
    color: blue;
  }
  .the_first:visited {
    color: purple;
  }
  .the_first:hover {
    color: green;
  }
  .the_first:active {
    color: red;
  }

  .the_second:link { /* Essentially means a[href], or that the link actually goes somewhere */
    color: orange;
  }
  .the_second:visited {
    color: cyan;
  }
  .the_second:hover {
    color: blue;
  }
  .the_second:active {
    color: magenta;
  }